// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$brown: brown;
$li-gray: rgba(80, 79, 79, 0.668);

$green-re: #A7E0B0;
$green-btn: #D3EFD7;
$navbar: #2a3139;
