<h1>RECYCLE</h1>
<h4>Triez et recyclez en toute <strong> simplicité </strong> </h4>

<% if user_signed_in? %>
  <%= link_to "Let's go", wastes_path %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<%#= simple_form_for(@waste) do |f| %>
 <%#= f.input :content, placeholder: 'tap ur product here'  %>
 <%#= f.submit "search" %>
<%# end %>
