.container-dashboard {
  width: 90%;
}

.form-info-user {
  width: 100%;
}

.container-dashboard h3 {
  margin-top: 15px;
}

.container-dashboard h4 {
  font-family: $headers-font;
}

.form-produit, .form-bac {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px lightgray;
  margin: 30px 0px;
  padding: 23px;
}

.form-produit input[type=submit], .form-bac input[type=submit] {
  background-color: $green-btn;
  border-radius: 20px;
  padding: 4px 8px;
}
