.pickup-info {
  margin-top: 20px;
}
.pickup-info > div {
  margin: 8px;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.calendar img {
  height: 35px;
}

.pickup-info > br {
  margin: 10px;
}
